
:root {
--IRIS: #4D5AE5;
--OCEAN: #404BBF;
--NAVY-BLUE: #2E2F42;
--GREEN: #31D0AA;
--SLATE: #434455;
--LIGHT-SLATE: #8E8F99;
--CORNFLOWER: #E7E9FC;
--CLOUD: #F4F4FD;
--NAVY-BLUE-MODAL: #2E2F42;
--GREY: #2E2F42;
--WHITE: #FFFFFF;
--DAIRY: #FCFCFC;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6
    {
    margin: 0;
    padding: 0;

}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
}

/*header*/


.header-logo-web{
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS);
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    margin-right: 76px;
}

.header-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--NAVY-BLUE);
}
.header-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.address {
    font-style: normal;
 
}
.address-list {
    display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 332px;
}

.header-nav {
    display: flex;
}

.header-item {
    display: flex;
    
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--NAVY-BLUE);
    display: flex;
}
.header-link:hover {
    color:#404bbf;
}
.header-link:focus {
    color:#404bbf;
}

.header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--SLATE);
    display: flex;
}

.header-mail:hover {
    color:#404bbf;
}
.header-mail:focus {
    color:#404bbf;
}
/*1 Section*/

.order-service {
    background-color:var(--NAVY-BLUE);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.order-title {
    background-color:var(--NAVY-BLUE);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 0;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
}
/*buttons*/

.header-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    background-color:var(--IRIS);
    text-align: center;
    width: 169px;
    height: 56px;
    margin-top: 48px;
}

.header-btn:hover {
    background-color: var(--OCEAN);
}
.header-btn:focus {
    background-color: var(--OCEAN);
}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--IRIS);
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color:var(--CLOUD);

    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.portfolio-btn:hover {
    color:var(--WHITE);
    background-color:var(--OCEAN);
}
.portfolio-btn:focus {
    background-color:var(--OCEAN);
    color: var(--WHITE);
}

/*2 Section*/

.section-position {
    margin-top: 120px;
    margin-top: 120px;
    
}
.strategy-position {
    width: calc((100% - 3 * 4px) / 4);
}

.strategy-list {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.strategy-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--NAVY-BLUE);
    margin-bottom: 8px;
    

}
.strategy-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--SLATE);  
    font-weight: 400;
    
}

.strategy-border {
    text-align: center;
    gap: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 120px;
}

/*3 Section*/

.section-about-position
{
margin-top: 120px;
margin-bottom: 120px;
}

.about-info {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color:var(--NAVY-BLUE);
    margin-bottom: 72px;
}
.about-title {
    display: flex;
    gap: 24px;
}
/*4 Section*/

.hero-container-title 
{

}
.hero {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--NAVY-BLUE);
    padding-top: 120px;
    margin-bottom: 72px;
}
.hero-container {
    background-color:var(--CLOUD);
    margin-top: 120px;
    text-align: center;
}
.hero-list {
    display: flex;
    text-align: center;
    margin-bottom: 120px;
    gap: 32px;
}
.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--NAVY-BLUE);
    margin-bottom: 8px;
}
.hero-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--SLATE);  
    font-weight: 400;
    
}
.hero-border {
    text-align: center;
    gap: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
   
}

.hero-content {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*3 Portfolio */

.container-portfolio {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    text-align: center;
}

.portfolio-btn-list {
    display: flex;
    margin-top: 120px;
    margin-bottom: 72px;
    gap: 32px;
    justify-content: center;
    align-items: center;
    border: transparent;
    text-transform: none;

}

.portfoio-buttons-head { 
}

.portfolio-about {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-bottom: 120px;
}

.portfolio-about > .portfolio-title {
    flex-basis: calc(100%/3-(24px));
    text-align: left;

}
.portfolio-image {
    border: 1px solid var(--CORNFLOWER);
    border-top: none;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.portfolio-border {
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #E7E9FC;
    border-top: none;
}


.portfolio-card {
  
}


/*footer*/
.footer {
    background-color:var(--NAVY-BLUE);
}

.footer-position {
    width: 264px;
    padding-top: 100px;
}

.footer-logo-web {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS);
}

.footer-logo-studio {
    color: #f4f4fd;
}
.footer-logo-text {
    color: var(--CORNFLOWER);
    margin-top: 16px;
    padding-bottom: 100px;
}